project/project/
target/
scala-util
nlp
condor-util
results/
eclipse-bin/
/data/
/bin

.cache
.classpath
.project
.settings
.worksheet
.pydevproject

*.toc
*.out
*.pdf

.DS_Store

ccg
condorfiles
gfl_syntax
human-annotated
parsimonious
temp

.cache-main
.cache-tests

